html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    animation: transition .4s;
}

@keyframes transition {
    from {
      opacity: 0.86;
    }
    to {
      opacity: 1;
    }
  }

.demo-wrap {
    overflow: hidden;
    position: relative;
  }
  
  .demo-bg {
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  
  .demo-content {
    position: relative;
  }

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 1rem;
    background-color: black;
    margin-bottom: 150px;
}

ul li{
    font-size: 30px;
    color: white;
}

.container{
    max-width: 400px;
    margin: auto;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    outline-style: solid;
    outline-width: 2.5px;
    outline-color: black;
}

.button{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
    border-radius: 5px;
    background-color:rgb(255, 190, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

button:hover{
    opacity: 0.5;
    cursor: pointer;
}

.email, .senha{
    width: 90%;
    height: 25px;
    margin-left: 10px;
    font-size: 18px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.container2{
    width: 90%;
    height: 80%;
    border-radius: 2px;
    background: white;
    margin-left: 100px;
  }
  
  .header {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 12px;
  }
  
  .header span {
    font-weight: 900;
    font-size: 20px;
    word-break: break-all;
  }
  
  #new {
    font-size: 16px;
    padding: 8px;
    border-radius: 4.5px;
    border: none;
    color: white;
    background-color: rgb(57, 57, 226);
  }
  
  .divTable {
    padding: 10px;
    width: auto; 
    height:inherit; 
    overflow:auto;
  }
  
  .divTable::-webkit-scrollbar {
    width: 12px;
    background-color: whitesmoke; 
  }
  
  .divTable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgray; 
  }
  
  table {
    width: 100%;
    border-spacing: 10px;
    word-break: break-all;
    border-collapse: collapse;
  }
  
  thead {
    background-color: whitesmoke;
  }
  
  tr {
    border-bottom: 1px solid rgb(238, 235, 235)!important;
  }
  
  tbody tr td {
    vertical-align: text-top;
    padding: 6px;
    max-width: 50px;
  }
  
  thead tr th {
    padding: 5px;
    text-align: start;
    margin-bottom: 50px;
  }
  
  tbody tr {
    margin-bottom: 50px;
  }
  
  thead tr th.acao {
    width: 100px!important;
    text-align: center;
  }
  
  tbody tr td.acao {
    text-align: center;
  }
  
  @media (max-width: 700px) {
    body {
      font-size: 10px;
    }
    
    .header span {
      font-size: 15px;
    }
  
    #new {
      padding: 5px;
      font-size: 10px;
    }
  
    thead tr th.acao {
      width: auto!important;
    }
    
    td button i {
      font-size: 20px!important;
    }
  
    td button i:first-child {
      margin-right: 0;
    }
  
    .modal {
      width: 90%!important;
    }
  
    .modal label {
      font-size: 12px!important;
    }
  }
  
  .modal-container2 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    width: 20%;
  }
  
  .modal label {
    font-size: 15px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }
  
  .modal input {
    width: 100%;
    outline: none;
    font-size: 15px;
    margin-bottom: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }
  
  .modal button {
    width: 100%;
    margin: 10px auto;
    outline: none;
    border-radius: 7px; 
    padding: 10px; 
    width: 100%;
    border: none;
    background-color: rgb(57, 57, 226);
    color: white;
  }
  
  .active {
    display: flex;
  }
  
  .active .modal {
    animation: modal .4s;
  }
  
  @keyframes modal {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  td button {
    border: none;
    outline: none;
    background: transparent;
  }
  
  td button i {
    font-size: 25px;
  }
  
  td button i:first-child {
    margin-right: 10px;
  }

  th{
   font-family: 'Poppins', sans-serif;
  }